@charset "utf-8";

main{
    margin: 0;
}

img{
    width: 50%;
    
}

#select{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

#select a{
    border: 1px solid blueviolet;
    background: #123360;
    width: calc(50% - 5px);
    padding: 100px 0px;
    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    margin: 10px 0px;
}

#select #season, #coaches{
    margin-right: 5px;
}

#select #parents, #referees{
    margin-left: 5px;
}


#gallery{
    background: #123360;
    width: 100%;
}

#gallery #logo{
    width: 100%;
    margin: auto;
}

#gallery #logo #img{
    width: 20%;
}

#gallery img{
    width: 30%;
}

#gitg{
    width: 100%;
    background: #e05901;
    color: whitesmoke;
    display: flex;
    padding: 50px 75px;
}

#gitg h1{
    font-size: 40pt;
}

#gitg h3{
    background: #123360;
    font-size: 25pt;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}


